doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact Page
       
        style.
            body {
                padding: 15px 7%;
            }
           nav {
                display:flex;
                gap:20px;
                width:100%;
            }
            a{
                text-decoration:none;
            }
    body 
        div 
        include ./nav.pug
        div 
        h1 Contact page 